.user {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 5px;

    > a {
        opacity: 0;
        margin-left: auto;
        transition: opacity 100ms ease-in-out;
    }

    &:hover {
        > a {
            opacity: 1;
        }
    }
}

.user__status {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: $gray-300;
}

.user__statusApproved {
    composes: user__status;
    background-color: green;
}

.user__statusRejected {
    composes: user__status;
    background-color: red;
}
