.detail {
    height: calc(100vh - 56px);
    flex-direction: column;
    margin-left: -15px;
    margin-right: -15px;

    @include media-breakpoint-up(md) {
        display: flex;
    }
}

.detail__request {
    border-bottom: 1px solid $gray-300;
    padding: 20px;
}

.detail__cols {
    @include media-breakpoint-up(md) {
        flex-grow: 1;
        display: flex;

        > div {
            overflow-y: auto;
            flex-basis: 33%;
        }

        > div:not(:first-child) {
            border-left: 1px solid $gray-300;
        }
    }

    > div {
        padding: 20px;
    }
}
